@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@font-face {
  font-family: 'JuliusSansOne';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/JuliusSansOne-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Poppins-Regular.woff');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/Poppins-SemiBold.woff');
  font-display: swap;
}
