@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'AmaticSC';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/AmaticSC-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'AmaticSC';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/AmaticSC-Bold.ttf');
  font-display: swap;
}

